


<p>
 <strong>Title:</strong>
 <%= @post.title %>
</p>

<p>
 <strong>Body:</strong>
 <%= @post.body %>
</p>
</br>
</br>
<h3>Comments<h3>
<div id="comments">
<%= render :partial => @post.comments.reverse %>
</div>

</br>
</br>
<%= form_for([@post, Comment.new], remote: true) do |f| %>
<p><%= f.label :body, "New Comment" %><br />
   <%= f.text_area :body %>
   <%= f.hidden_field :user_id, value: current_user.id %>
</p>
<p><%= f.submit "Add Comment" %></p>
<% end %>


<%= link_to 'Back', posts_path %>
